.edit-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 350px;
    label{
        color: white;
        padding-bottom: 5px;
    }
    input{
        margin-bottom: 5px;
        width: 200px;
    }

    button{
        border-radius: 10px;
        outline: none;
        height: 30px;
        width: 120px;
        margin-right: 10px;
        border: none;
        cursor: pointer;
    }
}